/*
*去掉地图白边
*/
body {
    margin: 0px;
}
.navbar-brand {
    margin-right: 20px;
}
nav div.container {
    width: 1400px
}
/**
*地图铺满窗口
*/
#map {
    /*margin-top: 50px;*/
    height: 100vh;
}
/**
* The zoomslider in the second map shall be placed between the zoom-in and
* zoom-out buttons.
*/
/*#map .ol-zoom .ol-zoom-out {
    margin-top: 204px;
}
#map .ol-zoomslider {
    background-color: transparent;
}

#map .ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}
#map .ol-touch .ol-zoomslider {
    top: 2.75em;
}

#map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
    top: 3px;
}

#map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
    top: 232px;
}*/

/**
*重新设定ScaleLine的位置
*
*/
.ol-rotate, .ol-full-screen {
    top: 4.5em;
}
.ol-zoom {
    top: 7em;
}
#map .ol-zoomslider {
    top: 8.8em;
    /*right: .5em;
    left: auto;*/
}
.ol-zoom, #map .ol-zoomslider {
    left: auto;
    right: .5em;
}

#search {
    position: absolute;
    top: 60px;
    left: 10px;
    background-color: #aaa;
    padding: 0px;
    box-shadow: 2px 2px 3px #777777;
    border-radius: 4px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}
#search-select-menu {
    display: -webkit-flex;
    display: flex;
}
#search-select-menu button {
    background-color: white;
    border: none;
}
.search-text {
    display: -webkit-flex;
    display: flex;
    outline: none;
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: 0px;
    border-left: 5px solid white;
}

.search-submit {
    display: -webkit-flex;
    display: flex;
    width: 70px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
}
/*.search-select {
    position: absolute;
    top: 105px;
    left: 10px;
    width: 300px;
    height: 105px;
    background-color: white;
    box-shadow: 2px 2px 3px #777777;
    display: none;
}
.search-select ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.search-select ul li {
    height: 35px;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}
.search-select ul li:hover {
    text-decoration: underline;
    background-color: #ccc;
}*/



#footer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 28px;
    /*background-color: rgba(0,0,0,0.5);*/
    padding-right: auto;
    padding-left: auto;
}
#footer-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    /*background-color: lightgrey;*/

}
#date, #menu, #play {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);/*cornflowerblue;*/
    margin: 0px 10px;

}


#date button, #menu button, #play button {
    background-color: rgba(0,0,0,0.8);
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    padding: 7px;
    margin: 5px 10px;
}
#footer-container button:hover {
    background-color: red;
}
#footer-container button.active {
    background-color: red;
}
#menu p {
    margin: 10px;
    color: white;
}