body {
    margin: 0px;
    background-color: #eee;
}

/*导航条*/
.navbar-brand {
    margin-right: 20px;
}
nav div.container {
    width: 1400px
}

/*搜索框*/
#search {
    position: absolute;
    top: 60px;
    left: 10px;
    background-color: #aaa;
    padding: 0px;
    box-shadow: 2px 2px 3px #777777;
    border-radius: 4px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}
#search-select-menu {
    display: -webkit-flex;
    display: flex;
}
#search-select-menu button {
    background-color: white;
    border: none;
}
.search-text {
    display: -webkit-flex;
    display: flex;
    outline: none;
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: 0px;
    border-left: 5px solid white;
}

.search-submit {
    display: -webkit-flex;
    display: flex;
    width: 70px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
}

/*下方工具栏*/
#footer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 28px;
    /*background-color: rgba(0,0,0,0.5);*/
    padding-right: auto;
    padding-left: auto;
}
#footer-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    /*background-color: lightgrey;*/

}
#date, #menu, #play {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);/*cornflowerblue;*/
    margin: 0px 10px;

}


#date button, #menu button, #play button {
    background-color: rgba(0,0,0,0.8);
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    padding: 7px;
    margin: 5px 10px;
}
#footer-container button:hover {
    background-color: red;
}
#menu p {
    margin: 10px;
    color: white;
}